#Testing files
old_notebooks/
testing.ipynb
bad_results/
testing_sr.ipynb

#Virtual env
.venv/

#cache files
__pycache__/
outputs/

#datasets (they are big)
datasets/
train_val_test_data/

#saved models
model_weights/

wandb/
.DS_Store